*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.6;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: $basicBlue;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3 rem;
}

a {
  text-decoration: none;
  outline: 0;

  &:hover,
  &:focus {
    color: blue;
  }
}

::selection {
  background: $basicBlue;
  color: $black;
}

::-moz-selection {
  background: $basicBlue;
  color: $black;
}

img::selection {
  background: $transparent;
}

img::-moz-selection {
  background: $transparent;
}