.about {
    padding: 6vh 0 4vh 0;
    background: $white;

    h3 {
        display: block;
        color: $silver;
        margin: 0 0 30px 7%;
    }

    h3.openTag {
        position: relative;

        &:before {
            content: '<';
        }

        &:after {
            content: '>';
        }
    }

    h3.closeTag {
        position: relative;

        &:before {
            content: '</';
        }

        &:after {
            content: '>';
        }
    }

    .aboutContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &:hover>.aboutImg {
            transform: translateY(-100px);
        }

        &:hover>.aboutImg img {
            filter: grayscale(0%);
        }

        .aboutImg {
            transform: translateY(-115px);
            width: 300px;
            height: 300px;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            border: 5px solid $gray;
            transition: .5s;

            @media only screen and (max-width: 680px) {
                width: 200px;
                height: 200px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                filter: grayscale(20%);
                transition: .5s;
            }
        }

        .aboutBox {
            width: 80%;
            min-height: 520px;
            background: #272820;
            display: block;
            border-radius: 12px;
            position: relative;

            @media only screen and (max-width: 970px) {
                min-height: 620px;
            }

            @media only screen and (max-width: 680px) {
                min-height: 800px;
            }

            .aboutText {
                position: absolute;
                top: 80px;
                padding: 0 40px;

                @media only screen and (max-width: 680px) {
                    padding: 0 20px;
                }

                p {
                    color: white;

                    .bigger {
                        font-weight: 600;
                    }

                    .firstLine {
                        font-size: 20px;
                        font-weight: 600;
                        color: $basicBlue;
                    }
                }
            }

            span.windowControls {
                position: absolute;
                top: 24px;
                width: 20px;
                height: 20px;
                border-radius: 50%;

                &:nth-child(1) {
                    left: 40px;
                    background: #fa6255;
                }

                &:nth-child(2) {
                    left: 80px;
                    background: #f7be31;
                }

                &:nth-child(3) {
                    left: 120px;
                    background: #33c241;
                }
            }

            @media only screen and (max-width: 680px) {
                width: 95%;
            }
        }
    }
}